<h1>Risk Analyses</h1>

<table>
  <thead>
    <tr>
      <th>Trade ID</th>
      <th>Risk Score</th>
      <th>Prediction</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @risk_analyses.each do |risk| %>
    <tr>
      <td><%= risk[:trade_id] %></td>
      <td><%= risk[:risk_score] %></td>
      <td><%= risk[:prediction] %></td>
      <td><%= Time.parse(risk[:created_at].to_s).strftime("%Y-%m-%d %H:%M:%S") rescue risk[:created_at] %></td>
      <td>
        <%= link_to 'Show', risk_analysis_path(risk[:id]) %> |
        <%= link_to 'Edit', edit_risk_analysis_path(risk[:id]) %> |
        <%= form_with url: risk_analysis_path(risk[:id]), method: :delete, local: true do %>
          <%= submit_tag 'Delete', data: { confirm: "Are you sure?" } %>
        <% end %>        
      </td>
    </tr>
  <% end %>  
  </tbody>
</table>

<%= link_to 'New Risk Analysis', new_risk_analysis_path %>

